In [1]:
# Import the libraries
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv(r"C:\Users\ASUS\Downloads\ecommerce_sales_34500.csv")

In [3]:
# Strip the column name
df.columns = df.columns.str.strip()

In [4]:
# Look at the data
df.head(5)

,order_id,customer_id,product_id,category,price,discount,quantity,payment_method,order_date,delivery_time_days,region,returned,total_amount,shipping_cost,profit_margin,customer_age,customer_gender
0,O100000,C17270,P234890,Home,164.08,0.15,1,Credit Card,12/23/2023,4,West,No,139.47,7.88,31.17,60,Female
1,O100001,C17603,P228204,Grocery,24.73,0.00,1,Credit Card,4/3/2025,6,South,No,24.73,4.60,-2.62,37,Male
2,O100002,C10860,P213892,Electronics,175.58,0.05,1,Credit Card,10/8/2024,4,North,No,166.80,6.58,13.44,34,Male
3,O100003,C15390,P208689,Electronics,63.67,0.00,1,UPI,9/14/2024,6,South,No,63.67,5.50,2.14,21,Female
4,O100004,C15226,P228063,Home,16.33,0.15,1,COD,12/21/2024,6,East,No,13.88,2.74,1.15,39,Male

In [5]:
df.shape

(34500, 17)

In [8]:
#Explore the data
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34500 entries, 0 to 34499
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            34500 non-null  object
 1   customer_id         34500 non-null  object
 2   product_id          34500 non-null  object
 3   category            34500 non-null  object
 4   price               34500 non-null  float64
 5   discount            34500 non-null  float64
 6   quantity            34500 non-null  int64
 7   payment_method      34500 non-null  object
 8   order_date          34500 non-null  object
 9   delivery_time_days  34500 non-null  int64
 10  region              34500 non-null  object
 11  returned            34500 non-null  object
 12  total_amount        34500 non-null  float64
 13  shipping_cost       34500 non-null  float64
 14  profit_margin       34500 non-null  float64
 15  customer_age        34500 non-null  int64
 16  customer_gender     34500 non-null  object
dtypes: float64(5), int64(3), object(9)
memory usage: 4.5+ MB

,order_id,customer_id,product_id,category,price,discount,quantity,payment_method,order_date,delivery_time_days,region,returned,total_amount,shipping_cost,profit_margin,customer_age,customer_gender
count,34500,34500,34500,34500,34500.000000,34500.000000,34500.000000,34500,34500,34500.000000,34500,34500,34500.000000,34500.000000,34500.000000,34500.000000,34500
unique,34500,7903,24912,7,NaN,NaN,NaN,6,731,NaN,5,2,NaN,NaN,NaN,NaN,3
top,O134499,C16704,P200645,Fashion,NaN,NaN,NaN,Credit Card,12/4/2024,NaN,South,No,NaN,NaN,NaN,NaN,Female
freq,1,13,7,6254,NaN,NaN,NaN,12170,70,NaN,7584,32597,NaN,NaN,NaN,NaN,16818
mean,NaN,NaN,NaN,NaN,119.391632,0.049291,1.490725,NaN,NaN,4.814203,NaN,NaN,170.008494,6.152120,28.116505,43.474377,NaN
std,NaN,NaN,NaN,NaN,195.620477,0.069894,0.932270,NaN,NaN,1.242141,NaN,NaN,357.503014,2.389539,53.352947,14.980682,NaN
min,NaN,NaN,NaN,NaN,1.010000,0.000000,1.000000,NaN,NaN,3.000000,NaN,NaN,0.820000,0.000000,-6.200000,18.000000,NaN
25%,NaN,NaN,NaN,NaN,16.690000,0.000000,1.000000,NaN,NaN,4.000000,NaN,NaN,19.710000,4.420000,1.500000,31.000000,NaN
50%,NaN,NaN,NaN,NaN,45.660000,0.000000,1.000000,NaN,NaN,5.000000,NaN,NaN,56.820000,6.090000,10.550000,43.000000,NaN
75%,NaN,NaN,NaN,NaN,130.950000,0.100000,2.000000,NaN,NaN,6.000000,NaN,NaN,168.530000,7.830000,33.132500,56.000000,NaN
max,NaN,NaN,NaN,NaN,2930.470000,0.300000,5.000000,NaN,NaN,13.000000,NaN,NaN,12931.800000,15.650000,1536.170000,69.000000,NaN

In [9]:
# Check the duplicates
df.duplicated().sum()

np.int64(0)

**There is no duplicates.**

In [10]:
#Check missing values
df.isna().sum()

order_id              0
customer_id           0
product_id            0
category              0
price                 0
discount              0
quantity              0
payment_method        0
order_date            0
delivery_time_days    0
region                0
returned              0
total_amount          0
shipping_cost         0
profit_margin         0
customer_age          0
customer_gender       0
dtype: int64

**There is no missing values.**

In [12]:
df = df.convert_dtypes()

In [13]:
#Change the data type
df['order_date'] = pd.to_datetime(df['order_date'])

In [14]:
df.dtypes

order_id              string[python]
customer_id           string[python]
product_id            string[python]
category              string[python]
price                        Float64
discount                     Float64
quantity                       Int64
payment_method        string[python]
order_date            datetime64[ns]
delivery_time_days             Int64
region                string[python]
returned              string[python]
total_amount                 Float64
shipping_cost                Float64
profit_margin                Float64
customer_age                   Int64
customer_gender       string[python]
dtype: object

In [13]:
df.columns

Index(['order_id', 'customer_id', 'product_id', 'category', 'price',
       'discount', 'quantity', 'payment_method', 'order_date',
       'delivery_time_days', 'region', 'returned', 'total_amount',
       'shipping_cost', 'profit_margin', 'customer_age', 'customer_gender'],
      dtype='object')

In [14]:
# Strip the string data
text_cols = df.select_dtypes(include= "string").columns
# text_cols
df[text_cols] = df[text_cols].apply(lambda x: x.str.strip())

In [16]:
# Detect invalid values (e.g. age > 100)
df['customer_age'].describe()

count      34500.0
mean     43.474377
std      14.980682
min           18.0
25%           31.0
50%           43.0
75%           56.0
max           69.0
Name: customer_age, dtype: Float64

**There is no invalid age values.**

In [17]:
#Checking unique values 
cols = ['category', 'payment_method', 'region', 'returned', 'customer_gender']
for col in cols:
    print(f"\n{col}:")
    print(sorted(df[col].unique()))

category:
['Beauty', 'Electronics', 'Fashion', 'Grocery', 'Home', 'Sports', 'Toys']

payment_method:
['COD', 'Credit Card', 'Debit Card', 'PayPal', 'UPI', 'Wallet']

region:
['Central', 'East', 'North', 'South', 'West']

returned:
['No', 'Yes']

customer_gender:
['Female', 'Male', 'Other']

In [18]:
# Building profit column ( profit margin = total profit/ total revenue )
df['profit'] = df['total_amount'] * df['profit_margin']

In [20]:
#Export Csv Files 
df.to_csv("ecommerce_sales_transactions_cleaned_dataset.csv",index=False)